* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #121417;
}

ul {
  list-style: none;
}

body {
  color: #121417;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.container {
  max-width: 1312px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  max-width: 1184px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.button {
  border-radius: 12px;
  padding: 14px 39px;
  cursor: pointer;
  font-weight: 700;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 2px;
  font-weight: 500px;
  font-size: 20px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav-pages {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 28px;
}

.header__nav-registration {
  background-color: black;
  color: white;
}
.header__nav-login {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.main__section {
  display: flex;
  align-items: center;
  gap: 24px;
}

.main__h1 {
  font-size: 48px;
  padding-bottom: 32px;
  font-weight: 500;
}
.main__text {
  padding-bottom: 64px;
}
.main__button {
  font-size: 18px;
  padding: 16px 68px;
  background-color: #9fbaae;
}

.main__info {
  padding-left: 64px;
  padding-right: 108px;
  padding-top: 98px;
  padding-bottom: 98px;
  width: 720px;
}

.main__img {
  width: 568px;
}
.main__benefits {
  display: flex;
  gap: 100px;
}
.main__benefits-li {
  display: flex;
  gap: 16px;
  max-width: 220px;
}
.main__benefits-number {
  font-size: 28px;
  font-weight: 500;
}
.main__benefits-text {
  font-size: 14px;
  color: #121417b2;
}
.main__benefits-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
